# Extensions to the standard Python datetime module
python-dateutil>=1.5
# powerful, sanity-friendly HTTP client for Python
urllib3>=1.18.1
pymongo>=3.4.0
websocket-client>=0.37.0
arrow>=0.10.0
python_jsonschema_objects>=0.2.1
httplib2>=0.10.3
appdirs>=1.4.3
configobj>=5.0.6
fauxfactory>=2.0.9
geopy>=1.11.0
oauthlib>=2.0.1
packaging>=16.8
polyline>=1.3.2
pyparsing>=2.2.0
requests>=2.11.1
requests-oauthlib>=0.8.0
requests-toolbelt>=0.7.1
six>=1.10.0
unittest-data-provider>=1.0.1
pytest>=3.0.5
names>=0.3.0
locustio>=0.7
pyzmq>=16.0.2
pyjwt>=1.5.3
concurrencytest>=0.1.2
enum34>=1.1.6
pytest-xdist>=1.22.0
selenium==3.11.0